/* color fonts usables #048387 #fda94a #b6e0ec #ff8802 #04abab */
/*background-image: linear-gradient(#004173, #0979b0, #0cb7f2, #7cdaf9, #b6ffff);*/

html{
	font-size: 62.5%;
	font-family: sans-serif;
	color: #048387;
}	

header{
	background-image: url(../assets/img/banner.jpg);
}

nav{
	float: right;
	font-family: fantasy;
	display: inline-block; 	
	margin: 1rem;
	font-size: 3rem;
	padding-right: 3rem;
}

footer{
	grid-area: footer;
	display: flex;
	font-size: 1rem;
	justify-content: space-around;
}

nav li{

	background-color: aliceblue;
	display: inline-block; 	
	margin: 1rem;
	border-radius: 1rem 1rem 1rem 1rem;
}

div p{
	color: #048387;
	font-size: 2.5rem;
	padding-left: 4rem;
}

body{
	background-image: linear-gradient(to bottom, #b6ffff, #7cdaf9, #b6ffff);    
}

a:link, a:visited, a:active {    
	text-decoration: none;
	color: #048387;
}

h2{
	color: #048387;
	font-size: 3rem;
	padding-left: 5rem;
}

h3{
	color: #048387;
	font-size: 2rem;
}

td{
	font-size: 2rem;
}

th{
	font-size: 2rem;
}

form{
	font-size: 2rem;
	color: #048387;
}

.h1articleIndex{
	display: flex;
	justify-content: space-around;
	font-size: 4rem;

}

.h2articleIndex{
	color: #048387;
	display: flex;
	justify-content: space-around;
	font-size: 3rem;
}

.a{
	display: flex;
	justify-content: space-around;
}

@keyframes logobeat{
	0% {opacity: 1;}
	12.5% {opacity: .87;}
	25% {opacity: .75;}
	37.5% {opacity: .62;}
	50% {opacity: .5;}
	62.5% {opacity: .37;}
	75% {opacity: .25;}
	87.5% {opacity: .12;}
	100% {opacity: 0;}
}


.logoNav{
 	padding-left: 13rem;
 	animation-name: logobeat;
 	animation-iteration-count: infinite;
 	animation-duration: 5s;
 	animation-timing-function: linear;
}

.h1Main{
	display: grid;
	text-align: center;
	font-size: 3rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.claseImgIndex1{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
}

.claseImgIndex2{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.claseImgIndex3{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.claseImgIndex4{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.claseImgIndex5{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.claseImgIndex6{                   /*fotos paseo y guardería*/
	display: grid;
	justify-content: space-around;
	width: 50rem;
	height: 35rem;
	border-radius: 1rem 1rem 1rem 1rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.textoDescriptivo{
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: normal;
}

.bodyGrid{
	display: grid;
 	grid-template-columns: 100%;
 	grid-template-rows: auto auto auto auto;
 	grid-template-areas: 
 	"header" 
 	"article"
 	"main"
 	"footer";
}

.article {
	display: grid;
	grid-area: article;
}

.main{
	display: grid;
	grid-area: main;
}

.bodyGridServicios{
	display: grid;
	grid-template-areas: 
	"header"
	"article"
	"main"
	"footer";
}

.indexMainGrid{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"claseImgIndex1" 
	"claseImgIndex2"
	"claseImgIndex3"
	"claseImgIndex4"
 	"claseImgIndex5"
 	"claseImgIndex6";
 	max-width: 100%;
}

.parrafoFotter {
	padding-left: 5rem;
}

.serviciosMainGrid{
	margin-top: 5rem;
	display: grid;
	grid-template-columns: 66%;
	grid-template-rows: 33% 33% 33%;
	grid-template-areas:
	"cuidadoresServicios"
	"trasladosServicios"
	"paseadoresServicios"
	"guarderiasServicios"
	"peluqueriaServicios"
	"veterinariaServicios" ;
}

.imgContacto{
	display: flex;
	flex-direction: row-reverse;
	margin-right: 15rem;
	margin-top: -5.5rem;
	margin-bottom: 2;
}

.logosRRSS{
	padding: 1rem;
	padding-left: 2.5rem;
}

.elegiServicios{
	font-style: sans-serif;
	font-size: 3rem;
	display: flex;
	justify-content: space-around;
}

.articleServicios{
	font-size: 3rem;
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;} 
}

.descripcionServicios{
	font-size: 1.3rem;
	padding-left: 13rem;
	display: flex;
	vertical-align: initial;
	margin-top:-6rem;
}

.cuidadoresServicios{
	cursor: pointer;
	margin-top: 0rem;
	margin-left: 0rem;
	margin-right: 65rem;
	margin-bottom: 1rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.trasladosServicios{
	cursor: pointer;
	margin-top: -28.2rem;
	margin-left: 62rem;
	margin-bottom: 1rem;
	margin-right: ;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.paseadoresServicios{	
	cursor: pointer;
	margin-bottom: -24rem;
	margin-top: 6rem ;
	margin-right: 0rem ;
	margin-left: 62rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.guarderiasServicios{
	cursor: pointer;
	margin-bottom: 1rem;
	margin-top: -27rem ;
	margin-right: 65rem ;
	margin-left: 0rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.peluqueriasServicios{
	cursor: pointer;
	margin-bottom: 1rem;
	margin-top: 7rem ;
	margin-right: 65rem;
	margin-left: 1rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.veterinariaServicios{
	cursor: pointer;
	margin-bottom: 10rem;
	margin-top: -28.2rem;
	margin-right: 0rem;
	margin-left: 62rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.imgServicios{
	padding-left: 3rem;
	padding-bottom: ;
}

.h1Servicios{
	font-size: 2.5rem;
	padding-left: 1.6rem;
	padding-top: 2rem;
}































@media only screen and (max-width: 768px) {			

header{
	display: grid;
	grid-template-area: header;
}

nav li{
	display: flex;
	justify-content: space-around;
}

h2{ font-size: 2rem;
	padding-left: 0rem;
}

footer {	
	display: flex;
	flex-direction: column;
}

.claseImgIndex1{			
	max-width: 100%;
}

.claseImgIndex2{
	max-width: 100%;
}

.claseImgIndex3{
	max-width: 100%;
}

.claseImgIndex4{
	max-width: 100%;
}

.claseImgIndex5{
	max-width: 100%;
}

.claseImgIndex6{
	max-width: 100%;
}

.indexMainGrid{
	display: flex;
	flex-direction: column;
}

.logoFooter {
 	padding-left: 12rem;
}

.logosRRSS{
	padding: 1rem;
	padding-left: 2.5rem;
}

.parrafoFotter {
	padding-left: 2rem;
}

.bodyGrid{
	display: grid;
 	grid-template-columns: 100%;
 	grid-template-rows: auto auto auto auto;
 	grid-template-areas: 
 	"header" 
 	"article"
 	"main"
 	"footer";
}

.serviciosMainGrid{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas: 
	"cuidadoresServicios"
	"trasladosServicios"
	"paseadoresServicios"
	"guarderiasServicios"
	"peluqueriaServicios"
	"veterinariaServicios";
}

.descripcionServicios{
	font-size: 1.3rem;
	padding-left: 13rem;
	display: flex;
	vertical-align: initial;
	margin-top:-6rem;
}

.cuidadoresServicios{
	margin-bottom: 33rem;
	margin-right: 0rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.trasladosServicios{
	margin-bottom: 1rem;
	margin-left: 0rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.paseadoresServicios{	
	margin-bottom: 30rem;
	margin-left: 0rem;
	margin-top: 5rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.guarderiasServicios{
	margin-bottom: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
	margin-top: -25rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.peluqueriasServicios{
	margin-bottom: 1rem;
	margin-right: 0rem;
	margin-left: 0rem;
	margin-top: 5rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.veterinariaServicios{
	margin-bottom: 1rem;
	margin-right: 0rem;
	margin-left: 0rem;
	margin-top: 5rem;
	border-radius: 1rem 1rem 1rem 1rem ;
	border: solid;
	border-top-color: #048387;
	border-right-color: #048387;
	border-bottom-color: #048387;
	border-left-color: #048387;
}

.imgServicios{
	padding-left: 3rem;
	padding-bottom: ;
}

.h1Servicios{
	font-size: 2.5rem;
	padding-left: 1.6rem;
	padding-top: 2rem;
}

.mainGridServicios{
	display: flex;
	flex-direction: column;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

.bodyGridServicios{
	display: flex;
	flex-direction: column;
}

.mainMobileServicios{
	display: flex;
	flex-direction: column;
}


	

